openapi: 3.1.0
info:
  title: AfraKala Automation Control Plane API
  version: 1.0.0-phase0
  description: |
    Contract-only specification for Phase 0 baseline freeze (2026-06-05).
    No server implementation is required in Phase 0.
    Workers are external runtimes; control plane is the existing afrakala-platform repository.
    Supabase/PostgreSQL is the source of truth for persistent job state (future phases).
  contact:
    name: AfraKala Platform
  license:
    name: Proprietary

servers:
  - url: https://app.afrakala.ir/api/automation/v1
    description: Production control plane (future implementation)
  - url: http://localhost:3000/api/automation/v1
    description: Local development (future implementation)

tags:
  - name: workers
    description: Worker registration, heartbeat, and capacity
  - name: jobs
    description: Job dispatch and status (generic — no marketplace-specific ops in Phase 0)

paths:
  /workers/heartbeat:
    post:
      operationId: postWorkerHeartbeat
      tags: [workers]
      summary: Report worker liveness and capacity
      description: |
        Workers call this endpoint on a fixed interval. Payload must validate against
        `automation/schemas/heartbeat.schema.json`.
      security:
        - WorkerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../schemas/heartbeat.schema.json'
      responses:
        '200':
          description: Heartbeat accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatAck'
        '400':
          description: Invalid payload
        '401':
          description: Unauthorized
        '503':
          description: Control plane temporarily unavailable

  /jobs/claim:
    post:
      operationId: claimJob
      tags: [jobs]
      summary: Claim the next available job for this worker
      security:
        - WorkerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobClaimRequest'
      responses:
        '200':
          description: Job claimed (or empty queue)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaimResponse'
        '401':
          description: Unauthorized
        '204':
          description: No job available

  /jobs/{jobId}/status:
    patch:
      operationId: updateJobStatus
      tags: [jobs]
      summary: Update job execution status
      security:
        - WorkerBearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobStatusUpdate'
      responses:
        '200':
          description: Status updated
        '400':
          description: Invalid transition or payload
        '401':
          description: Unauthorized
        '404':
          description: Job not found

components:
  securitySchemes:
    WorkerBearerAuth:
      type: http
      scheme: bearer
      description: |
        Server-issued worker token. Must never use VITE_ prefix or ship in frontend bundles.

  schemas:
    HeartbeatAck:
      type: object
      required: [accepted_at, next_heartbeat_seconds]
      properties:
        accepted_at:
          type: string
          format: date-time
        next_heartbeat_seconds:
          type: integer
          minimum: 5
          maximum: 300
          example: 30

    JobClaimRequest:
      type: object
      required: [worker_id, capabilities]
      properties:
        worker_id:
          type: string
          format: uuid
        capabilities:
          type: array
          items:
            type: string
          description: Generic capability tags (e.g. `generic.echo`). No marketplace-specific enums in Phase 0.
        max_jobs:
          type: integer
          minimum: 1
          maximum: 10
          default: 1

    JobClaimResponse:
      type: object
      required: [claimed]
      properties:
        claimed:
          type: boolean
        job:
          $ref: '../schemas/job.schema.json'

    JobStatusUpdate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [running, succeeded, failed, cancelled]
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        message:
          type: string
          maxLength: 2000
        error_code:
          type: string
          maxLength: 64
