openapi: 3.1.0
info:
  title: AfraKala Automation Control Plane API
  version: 1.0.0-phase0
  description: |
    Contract-only specification for Phase 0 (baseline/v2026.06.05).
    No server implementation is required in Phase 0.

    Workers are external Python runtimes; control plane is the existing
    afrakala-platform repository (get-git-going). Supabase/PostgreSQL is the
    source of truth for persistent job state (future phases).

    Human-readable contracts: docs/automation/*.md
    JSON Schemas (baseline): automation/schemas/*.json

    Phase 0 forbids: Divar, Torob, WhatsApp, Instagram, OCR, STT, AI agents,
    marketplace-specific job types, and any path outside /api/automation/v1.
  contact:
    name: AfraKala Platform
  license:
    name: Proprietary

servers:
  - url: https://app.afrakala.ir/api/automation/v1
    description: Production control plane (future implementation)
  - url: http://localhost:3000/api/automation/v1
    description: Local development (future implementation)

tags:
  - name: workers
    description: Worker registration, heartbeat, and capacity
  - name: jobs
    description: Job dispatch, checkpoints, and status (generic only in Phase 0)

paths:
  /workers/heartbeat:
    post:
      operationId: postWorkerHeartbeat
      tags: [workers]
      summary: Report worker liveness and capacity
      description: |
        Workers call this endpoint on a fixed interval. Payload must validate against
        `automation/schemas/heartbeat.schema.json`.

        See docs/automation/WORKER_HEARTBEAT_CONTRACT.md
      security:
        - WorkerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../automation/schemas/heartbeat.schema.json'
      responses:
        '200':
          description: Heartbeat accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatAck'
        '400':
          description: Invalid payload
        '401':
          description: Unauthorized
        '503':
          description: Control plane temporarily unavailable

  /jobs/claim:
    post:
      operationId: claimJob
      tags: [jobs]
      summary: Claim the next available job for this worker
      description: |
        Returns HTTP 204 when the queue is empty (canonical empty-queue response).
        See docs/automation/JOB_CLAIM_CONTRACT.md
      security:
        - WorkerBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobClaimRequest'
      responses:
        '200':
          description: Job claimed (or explicit claimed=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobClaimResponse'
        '204':
          description: No job available
        '400':
          description: Invalid claim payload
        '401':
          description: Unauthorized

  /jobs/{jobId}/status:
    patch:
      operationId: updateJobStatus
      tags: [jobs]
      summary: Update job execution status
      description: |
        Lifecycle transitions for claimed/running jobs.
        See docs/automation/JOB_CLAIM_CONTRACT.md
      security:
        - WorkerBearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobStatusUpdate'
      responses:
        '200':
          description: Status updated
        '400':
          description: Invalid transition or payload
        '401':
          description: Unauthorized
        '404':
          description: Job not found

  /jobs/{jobId}/checkpoint:
    put:
      operationId: putJobCheckpoint
      tags: [jobs]
      summary: Report durable progress checkpoint for a running job
      description: |
        Optional for instant dummy jobs; required for future long-running work.
        See docs/automation/CHECKPOINT_CONTRACT.md
      security:
        - WorkerBearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCheckpoint'
      responses:
        '200':
          description: Checkpoint accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointAck'
        '400':
          description: Invalid payload or monotonicity violation
        '401':
          description: Unauthorized
        '404':
          description: Job not found
        '409':
          description: Job not claimable by this worker or wrong lifecycle state

components:
  securitySchemes:
    WorkerBearerAuth:
      type: http
      scheme: bearer
      description: |
        Server-issued worker token. Must never use VITE_ prefix or ship in frontend bundles.

  schemas:
    HeartbeatAck:
      type: object
      additionalProperties: false
      required: [accepted_at, next_heartbeat_seconds]
      properties:
        accepted_at:
          type: string
          format: date-time
        next_heartbeat_seconds:
          type: integer
          minimum: 5
          maximum: 300
          example: 30

    JobClaimRequest:
      type: object
      additionalProperties: false
      required: [worker_id, capabilities]
      properties:
        worker_id:
          type: string
          format: uuid
        capabilities:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '^[a-z][a-z0-9._-]{1,63}$'
          description: |
            Generic capability tags (e.g. generic.echo). No marketplace-specific enums in Phase 0.
        max_jobs:
          type: integer
          minimum: 1
          maximum: 10
          default: 1

    JobClaimResponse:
      type: object
      additionalProperties: false
      required: [claimed]
      properties:
        claimed:
          type: boolean
        job:
          $ref: '../automation/schemas/job.schema.json'

    JobStatusUpdate:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          enum: [running, succeeded, failed, cancelled]
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        message:
          type: string
          maxLength: 2000
        error_code:
          type: string
          maxLength: 64

    JobCheckpoint:
      type: object
      additionalProperties: false
      required: [worker_id, sequence, reported_at, progress_percent]
      properties:
        worker_id:
          type: string
          format: uuid
        sequence:
          type: integer
          minimum: 1
          description: Monotonically increasing per job
        reported_at:
          type: string
          format: date-time
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        stage:
          type: string
          maxLength: 64
        message:
          type: string
          maxLength: 500
        state:
          type: object
          description: |
            Small JSON resume blob (max 4 KB serialized). Must not contain secrets.
          additionalProperties: true

    CheckpointAck:
      type: object
      additionalProperties: false
      required: [accepted_at, job_id, sequence, acknowledged]
      properties:
        accepted_at:
          type: string
          format: date-time
        job_id:
          type: string
          format: uuid
        sequence:
          type: integer
          minimum: 1
        acknowledged:
          type: boolean
          enum: [true]
